In [1]:
import os
import json
import pandas as pd

In [2]:
def counting(path):
    cnt = 0
    data_dir = path
    
    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt+=1
    
    print(f'데이터 개수 = {cnt}')
    return cnt

# 용도별 목적대화 데이터  json -> CSV로 변환

In [19]:
target_path = "./용도별 목적대화 데이터/01.데이터/1.Training/라벨링데이터/"

In [21]:
target_path_list = os.listdir(target_path)

In [17]:
print(target_path_list)

['01.AS문의', '01.부서안내', '01.숙박', '01.프로그램문의', '02.교통', '02.등록문의', '02.절차문의', '02.제품사용문의', '03.비용환불문의', '03.서류문의', '03.식당', '03.주문결제', '04.레저', '04.민원신고', '04.배송', '04.일정문의', '05.관광', '05.환불반품교환', '06.이벤트', '07.온오프라인안내']

In [22]:
total_data =0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 수: {total_data}')

데이터 개수 = 2426
데이터 개수 = 2093
데이터 개수 = 1410
데이터 개수 = 2707
데이터 개수 = 899
데이터 개수 = 1806
데이터 개수 = 2787
데이터 개수 = 2473
데이터 개수 = 970
데이터 개수 = 2196
데이터 개수 = 1446
데이터 개수 = 1952
데이터 개수 = 2313
데이터 개수 = 2833
데이터 개수 = 1945
데이터 개수 = 910
데이터 개수 = 2281
데이터 개수 = 1910
데이터 개수 = 990
데이터 개수 = 2136
총 데이터 수: 38483

In [23]:
purpose = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path + target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path) + str(target_path_list[i]) + "/" + str(files[k])
        try:
            target_file = open(f"{final_path}", encoding='UTF-8')
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                purpose.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'][2:])
        except:
            print("error {}".format(final_path))

error ./용도별 목적대화 데이터/01.데이터/1.Training/라벨링데이터/04.배송/shopping4_0842.json

In [24]:
len(purpose)

480494

In [25]:
purpose_df = pd.DataFrame({'text':purpose})

In [26]:
purpose_df

                                           text
0                                네 많이 걱정하셨을 텐데요
1                      일단 기사가 다시 가서 확인을 좀 드릴거고요
2       일정 확인해 볼텐데 혹시  방문 시간대는 언제가 좀 편하시겠어요 고객님
3                             지금 이 지금 시간대가 좋은데요
4                               예 확인해 보겠습니다 고객님
...                                         ...
480489                            시월 청구서에 반영됩니다
480490                            네 알겠습니다 감사합니다
480491                            다른문의 사항 있으실까요
480492                         아니요 없습니다 답변 감사해요
480493                   감사합니다 #@소속# #@이름#이었습니다

[480494 rows x 1 columns]

In [27]:
#저장하기
purpose_df.to_csv('./data_to_csv/용도별목적대화데이터.csv', index=False)

In [28]:
#확인하기
df = pd.read_csv('./data_to_csv/용도별목적대화데이터.csv')

In [29]:
df

                                           text
0                                네 많이 걱정하셨을 텐데요
1                      일단 기사가 다시 가서 확인을 좀 드릴거고요
2       일정 확인해 볼텐데 혹시  방문 시간대는 언제가 좀 편하시겠어요 고객님
3                             지금 이 지금 시간대가 좋은데요
4                               예 확인해 보겠습니다 고객님
...                                         ...
480489                            시월 청구서에 반영됩니다
480490                            네 알겠습니다 감사합니다
480491                            다른문의 사항 있으실까요
480492                         아니요 없습니다 답변 감사해요
480493                   감사합니다 #@소속# #@이름#이었습니다

[480494 rows x 1 columns]

# 주제별 일상 대화 데이터 json -> csv로 변환

In [30]:
path = './주제별 텍스트 일상 대화 데이터/01.데이터/1.Training/라벨링데이터/'

In [31]:
path_list = os.listdir(path)
print(path_list)

['BAND', 'FACEBOOK', 'INSTAGRAM', 'KAKAO', 'NATEON']

In [32]:
total_data = 0
for i in range(len(path_list)):
    cnt = counting(path + path_list[i])
    total_data += cnt
print('총 데이터 개수 {}'.format(total_data))

데이터 개수 = 1631
데이터 개수 = 8002
데이터 개수 = 4800
데이터 개수 = 71651
데이터 개수 = 1606
총 데이터 개수 87690

In [33]:
ex = open('./주제별 텍스트 일상 대화 데이터/01.데이터/1.Training/라벨링데이터/KAKAO/KAKAO_898_15.json', encoding='utf-8')
ex = json.loads(ex.read())

In [41]:
ex['info'][0]['annotations']['lines'][7]['norm_text']

'장난 아니죠 ? ㅠ'

In [42]:
len(ex['info'][0]['annotations']['lines'])

26

In [51]:
files = os.listdir(path+ path_list[0])

In [52]:
path + path_list[0] + files[0]

'./주제별 텍스트 일상 대화 데이터/01.데이터/1.Training/라벨링데이터/BANDBAND_100_02.json'

In [55]:
daily_conversations = []
for i in range(len(path_list)): # i는 밖에 종류 즉 kako, band, facebook 등을 가리킴
    files = os.listdir(path + path_list[i])
    for k in range(len(files)): # k가 안에 내용물 json파일들
        final_path = str(path) + str(path_list[i]) + "/" + str(files[k])
        try:
            target_file = open(f"{final_path}", encoding='utf-8')
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                daily_conversations.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'])
        except:
            print(f"error! {final_path}")

error! ./주제별 텍스트 일상 대화 데이터/01.데이터/1.Training/라벨링데이터/KAKAO/KAKAO_1648_13.json

In [56]:
len(daily_conversations)

1445943

In [57]:
daily_conversations_df  = pd.DataFrame({'text':daily_conversations})

In [60]:
daily_conversations_df.head()

                      text
0         너희 집 근처에는 병원 있어?
1          응, 난 엄청 근처에 있어.
2      나는 차 타고 20분 거리에 있어.
3  집 근처에 병원이 있으면 편리한 거 같아.
4           왜 그렇게 생각하는 거야?

In [61]:
daily_conversations_df.to_csv('./data_to_csv/주제별일상대화데이터.csv', index=False)

In [62]:
df = pd.read_csv('./data_to_csv/주제별일상대화데이터.csv')
df.head()

                      text
0         너희 집 근처에는 병원 있어?
1          응, 난 엄청 근처에 있어.
2      나는 차 타고 20분 거리에 있어.
3  집 근처에 병원이 있으면 편리한 거 같아.
4           왜 그렇게 생각하는 거야?

# 일반상식 데이터 json -> csv로 변환

In [63]:
common_sense = open(f'./일반상식/02_squad_질문_답변_제시문_말뭉치/ko_wiki_v1_squad.json', encoding='utf-8')
common_sense = json.loads(common_sense.read())

In [66]:
len(common_sense['data'])

68538

In [67]:
common_sense['data'][0]

{'paragraphs': [{'qas': [{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
     'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
     'id': '9_f2_wiki_2822-1'}],
   'context': "재팬 오픈에서 4회 우승하였으며, 통산 단식 200승 이상을 거두었다. 1994년 생애 최초로 세계 랭킹 10위권에 진입하였다. 1992년에는 WTA로부터 '올해 가장 많은 향상을 보여준 선수상'(Most Improved Player Of The Year)을 수여받았으며, 일본 남자 패션 협회(Japan Men's Fashion Association)는 그녀를 '가장 패셔너블한 선수'(Most Fashionable)로 칭했다. 생애 두 번째 올림픽 참가 직후인 1996년 9월 24일 최초로 은퇴를 선언하였다. 이후 12년만인 2008년 4월에 예상치 못한 복귀 선언을 하고 투어에 되돌아왔다. 2008년 6월 15일 도쿄 아리아케 인터내셔널 여자 오픈에서 복귀 후 첫 우승을 기록했으며, 2009년 9월 27일에는 한국에서 열린 한솔 코리아 오픈 대회에서 우승하면서 복귀 후 첫 WTA 투어급 대회 우승을 기록했다. 한숨 좀 작작 쉬어!"}],
 'title': '다테_기미코'}

In [68]:
common_sense['data'][0]['paragraphs'][0]['qas'][0]

{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
 'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
 'id': '9_f2_wiki_2822-1'}

In [69]:
query = []
answer = []
for i in range(len(common_sense['data'])):
    query.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['question'])
    answer.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['answers'][0]['text'])

In [70]:
print(len(query))
print(len(answer))

68538
68538

In [71]:
common_sense_df = pd.DataFrame({'intent':['일반상식']*len(query), 'query':query, 'answer':answer})

In [72]:
common_sense_df.head()

  intent                      query          answer
0   일반상식  다테 기미코가 최초로 은퇴 선언을 한게 언제지    1996년 9월 24일
1   일반상식            ave;new 본거지 어디야         도쿄 치요다구
2   일반상식         사카이 다다요시의 아버지가 누구지  사카이 나오타카(酒井直隆)
3   일반상식              일반성면의 면적이 얼마야       19.41 km²
4   일반상식            금나라를 세운 사람이 누구야          태조 아구다

In [73]:
common_sense_df.to_csv('./data_to_csv/일반상식.csv', index=False)

In [74]:
df = pd.read_csv('./data_to_csv/일반상식.csv')
df.head()

  intent                      query          answer
0   일반상식  다테 기미코가 최초로 은퇴 선언을 한게 언제지    1996년 9월 24일
1   일반상식            ave;new 본거지 어디야         도쿄 치요다구
2   일반상식         사카이 다다요시의 아버지가 누구지  사카이 나오타카(酒井直隆)
3   일반상식              일반성면의 면적이 얼마야       19.41 km²
4   일반상식            금나라를 세운 사람이 누구야          태조 아구다

# 네이버 txt -> csv로 변환

In [75]:
ratings = pd.read_csv('./nsmc-master/ratings.txt', delimiter='\t')

In [76]:
ratings.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [77]:
ratings.to_csv('./data_to_csv/네이버.csv', index=False)

In [78]:
df = pd.read_csv('./data_to_csv/네이버.csv')
df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1