# 의도 분류 모델 학습 데이터 생성하기

In [5]:
import pandas as pd
import numpy as np
from konlpy.tag import Komoran

In [6]:
movie = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/네이버.csv")
purpose = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/용도별목적대화데이터.csv")
topic = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/주제별일상대화데이터.csv")
common_sense = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/일반상식.csv")
add = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/추가데이터.csv")
add_2 = pd.read_csv("./data_to_csv/추가_1.csv")

movie.dropna(inplace=True)
purpose.dropna(inplace=True)
topic.dropna(inplace=True)
common_sense.dropna(inplace=True)
add.dropna(inplace=True)

In [7]:
print(f"movie shape => {movie.shape}\n\
purpose shape => {purpose.shape}\n\
topic shape => {topic.shape}\n\
common_sense shape => {common_sense.shape}\n\
add => {add.shape}\n\
add_2 => {add_2.shape}")

movie shape => (199992, 3)
purpose shape => (480494, 1)
topic shape => (1445760, 1)
common_sense shape => (68538, 3)
add => (9216, 2)
add_2 => (71, 1)

In [8]:
print(movie.columns)
print(purpose.columns)
print(topic.columns)
print(common_sense.columns)
print(add.columns)
print(add_2.columns)

Index(['id', 'document', 'label'], dtype='object')
Index(['text'], dtype='object')
Index(['text'], dtype='object')
Index(['intent', 'query', 'answer'], dtype='object')
Index(['query', 'intent'], dtype='object')
Index(['query'], dtype='object')

In [9]:
all_data = list(movie['document']) + list(purpose['text']) + list(topic['text']) + list(common_sense['query']) \
+ list(common_sense['answer']) + list(add['query']) + list(add_2['query'])

In [10]:
len(all_data)

2272609

### 의도 분류 데이터 생성하기

In [12]:
number = [] #0
place = [] #1
time = []# 2
com = []# 3
que = []# 4
etc = []# 5

In [13]:
for i in all_data:
    if ('어디' or '장소' or '위치' or '주소') in i: place.append(i)#장소 1
    elif ('번호' or '전화') in i: number.append(i)#번호 0
    elif ('시작' or '마감' or '언제' or '시간') in i: time.append(i)#시간 2
    elif ('컴퓨터공학부') in i: com.append(i) #컴공에 대해서
    elif('란?') in i: que.append(i) #질문
    else: etc.append(i)

In [14]:
print(len(number))# 번호 0
print(len(place))# 장소 1
print(len(time))# 시간 2
print(len(com))# 컴공 3
print(len(que))# 질문 4

print(len(etc))

12534
29348
8332
2222363
6
26

In [15]:
number_label =[]
for _ in range(len(number)):
    number_label.append(0)
len(number_label)

12534

In [16]:
len(place)

29348

In [17]:
place_label=[]
for _ in range(len(place)):
    place_label.append(1)
len(place_label)

29348

In [18]:
len(time)

8332

In [19]:
time_label = []
for _ in range(len(time)):
    time_label.append(2)
len(time_label)

8332

In [22]:
com_label=[]
for _ in range(len(com)):
    com_label.append(3)
len(com_label)

6

In [23]:
que_label = []
for _ in range(len(que)):
    que_label.append(4)
len(que_label)

26

In [25]:
import random
random.seed(42)
etc_sample = random.sample(etc, 70000)
print(len(etc_sample))

70000

In [26]:
etc_sample_label = []
for _ in range(len(etc_sample)):
    etc_sample_label.append(3)
len(etc_sample_label)

70000

In [28]:
train_df = pd.DataFrame({'text':number+place+time+com+que,
                         'label':number_label+place_label+time_label+com_label+que_label})

In [29]:
train_df

                                                    text  label
0      이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1      작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                    비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                             용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4      보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
...                                                  ...    ...
50241                                       컵라면+소시지+반숙란?      4
50242                                         대란이에요? 특란?      4
50243                                     예전 그 역도선수 장미란?      4
50244            이번에 **** **도 키키 아이폰 논란? 있었대 ㅠ폰도 마음대로 못씀      4
50245                                            공학인증제란?      4

[50246 rows x 2 columns]

In [32]:
train_df[train_df['label']==3]

                  text  label
50214         컴퓨터공학부란?      3
50215      컴퓨터공학부 교육과정      3
50216  컴퓨터공학부 교육이수 체계도      3
50217      컴퓨터공학부 교직과정      3
50218    컴퓨터공학부 동아리 소개      3
50219  컴퓨터공학부 취업 진출 분야      3

In [33]:
train_df.isnull().sum()

text     0
label    0
dtype: int64

In [34]:
train_df.reset_index(drop=True, inplace=True)

In [35]:
train_df.tail()

                                          text  label
50241                             컵라면+소시지+반숙란?      4
50242                               대란이에요? 특란?      4
50243                           예전 그 역도선수 장미란?      4
50244  이번에 **** **도 키키 아이폰 논란? 있었대 ㅠ폰도 마음대로 못씀      4
50245                                  공학인증제란?      4

In [36]:
train_df.to_csv("train_data.csv", index=False)

In [37]:
df = pd.read_csv('./train_data.csv')

In [38]:
df

                                                    text  label
0      이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1      작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                    비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                             용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4      보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
...                                                  ...    ...
50241                                       컵라면+소시지+반숙란?      4
50242                                         대란이에요? 특란?      4
50243                                     예전 그 역도선수 장미란?      4
50244            이번에 **** **도 키키 아이폰 논란? 있었대 ㅠ폰도 마음대로 못씀      4
50245                                            공학인증제란?      4

[50246 rows x 2 columns]